.bg-red{
    background: #ff2a2c;
    color: #fff
}

.bg-blue{
    background: #2700cf;
    color: #fff
}

.bg-yellow{
    background: #fffc4c;
    color: #000
}

mat-grid-list{
    width: 90%;
    margin: auto;
}
.menu{
    margin: 15px;
}
